[Unit]
Description = Track location
#StartLimitBurst=10
#StartLimitIntervalSec=60

[Service]
Type = simple
ExecStart = /opt/domo/modules/tracker.sh
#ExecStop = /usr/bin/killall tracker.sh
RestartSec = 10
Restart = always
User=osmc
Group=osmc

[Install]
WantedBy = multi-user.target
